html {
  font-family: raleway;
  min-height: 100%;
}
body {
  min-height: 100%;
  background-image: linear-gradient(
    -40deg,
    rgb(250, 235, 98) -10%,
    rgb(143, 143, 143) 70%
  );
  background-color: rgb(226, 226, 226);
  background-image: url(./img/fondfeuille.jpg);
  background-size: cover;
}
header {
  background-color: rgb(59, 59, 59);
  box-shadow: 0 0 15px rgb(59, 59, 59);
  background-image: linear-gradient(
    to right,
    rgb(190, 190, 190) -30%,
    rgb(59, 59, 59) 80%
  );
}
nav {
  min-height: 10vh;
  display: flex;
}
nav ul {
  display: flex;
  flex: 0.1 1 40rem;
  justify-content: space-around;
  align-items: center;
}
nav div {
  display: flex;
  flex: 2 1 40rem;
}
li.btntop {
  list-style-type: none;
  font-size: 20px;
}
img.logo {
  padding: 15px;
}
h1.titre {
  font-size: 30px;
  color: rgb(255, 230, 0);
  padding: 20px;
  text-shadow: 0 0 3px rgb(255, 230, 0);
}
li.btntop a {
  color: rgb(255, 230, 0);
  text-decoration: none;
  text-shadow: 0 0 3px rgb(255, 230, 0);
}
li.btntop:hover a {
  transition: 0.3s ease;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.boiteaffiche {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.boiteaffiche img {
  width: 100%;
  object-fit: contain;
}
.genre {
  background-color: rgb(255, 255, 255);
  text-decoration: none;
}
.categorie:hover {
  transition: 0.3s ease;
  transform: scale(1.05);
}
.menugenre {
  display: flex;
  width: 1200px;
  margin: auto;
}
.phraseaccroche {
  color: rgb(0, 0, 0);
  font-size: 40px;
  width: 70%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-shadow: 6px 6px 6px rgb(136, 136, 136);
}
